@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  font-family: 'Overpass', sans-serif;
  background-color: #121214;
  display: flex;
  align-items: center;
}

main.classificacao {
  background: linear-gradient(to bottom, #222933, #171E28);
  padding: 20px;
  width: 460px;
  margin: auto;
  margin-top: 25vh;
  border-radius: 10px;
}

main.classificacao > img.estrela {
  background-color: #262E38;
  padding: 15px;
  border-radius: 50%;
}



main.agradecimento {
  display: none;
}