@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  font-family: 'Overpass', sans-serif;
  background-color: #121214;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main.classificacao {
  display: block;
  align-self: center;
  background: linear-gradient(to bottom, #222933, #171E28);
  padding: 25px;
  height: 374px;
  width: 370px;
  border-radius: 15px;
  padding-bottom: 40px;
}

main.classificacao > div.estrela {
  display: flex;
  justify-content: center;
  background-color: #262E38;
  width: fit-content;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
}

main.classificacao > div.estrela > img {
  align-self: center;
}

main.classificacao > h1 {
  color: white;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

main.classificacao > p {
  color: #8C949F;
  margin-top: 15px;
  margin-bottom: 30px;
}

main.classificacao > div.botoes {
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

main.classificacao > div.botoes > button.botao {
  background-color: #262F38;
  color: rgb(150, 149, 149);
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 50px;
  padding: 15px;
  margin-right: 15px;
}

main.classificacao > div.botoes > button#b5 {
  margin-right: 0px;
}

main.classificacao > button.enviar {
  display: block;
  background-color: #FC7613;
  width: 90%;
  margin: auto;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
}

main.agradecimento {
  display: none;
  align-self: center;

  width: 320px;
  background: linear-gradient(to bottom, #222933, #171E28);
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 15px;
}

main.agradecimento > div {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

main.agradecimento > h3 {
  background-color: #282E38;
  color: #d37435;
  font-weight: 300;
  margin: auto;
  width: 170px;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

main.agradecimento > h2 {
  color: white;
  font-size: 1.8em;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

main.agradecimento > p {
  color: #8C949F;
  width: 100%;
  margin: auto;
  text-align: center;
}